* {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container { 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "h"
                       "m"                       
                       "f"
  background-color: beige;
  gap: 10px;
}


.footer {
  grid-area: f;
  background-color: red;
}
.header {
  grid-area: h;
  background-color: blue;
}
.main {
  grid-area: m;
  background-color: yellow;
}