* {
  margin: 0;
  padding: 0;
}

.container { 
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: "h h h"
                       "m m m"
                       "f f f";
}

@media (min-width: 320px) and (orientation: landscape){

}

.header {
  grid-area: h;
  min-height: 48px;
  min-width: 32px;
  background-color: blue;
}

.main {
  grid-area: m;
  min-height: 80vh;
  background-color: yellow;
}

.footer {
  grid-area: f;
  background-color: red;
}